@media screen and (max-width: 500px) {
  #features {
    /* padding: 10px; */
    width: 145%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 145%;
  }

  #portfolio {
    width: 145%;
  }
}
